@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
 background: linear-gradient(120grad, rgb(10, 189, 177), rgb(104, 241, 205));
 min-height: 100vh;
 font-family: 'Roboto', sans-serif;
}


#trackr {
  color: rgb(10, 189, 177);
}

.styled-form {
  background-color: white;
  margin: auto;
  margin-top: 10%;
  width: 400px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(99, 99, 99);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
}

.styled-form input {
  height: 30px;
  font-size: 16px;
  border: 2px solid rgb(126, 126, 126);
  border-radius: 2px;
  padding: 3px 0px 3px 3px;
  transition: 0.2s;
}

.styled-form input:focus, input:hover{
  outline: none;
  border: 1px solid rgb(10, 189, 177);
  box-shadow: 0 0 5px rgb(10, 189, 177);
}

#submit-button {
  background-color: rgb(10, 189, 177);
  border: none;
  color: white;
  transition: 0.4s;
}

#submit-button:hover{
  background-color: rgb(157, 233, 228);
  color: black;
}
